.wrapper {
  position: fixed;
  right: 21px;
  top: 225px;
  background-color: #fff;
  width: 310px;
  padding: 37px 42px 49px 45px;
  border-radius: 20px;
  box-shadow: 0px 2px 20px 0 rgba(155, 172, 184, 0.35);
}

.team {
  font-size: 30px;
}

.photo {
  width: 51.4px;
  height: 51.4px;
}

.photo-wrap {
  padding: 0 15px 0 0;
}

.name {
  font-size: 16px;
  color: #25272f;
  cursor: pointer;
  border-bottom: dashed 2px #24c967;
}

.position {
  font-size: 13px;
  color: #828589;
}

.row {
  margin: 40px 0;
}

.phone {
  font-size: 16px;
  color: #fefefe;
  align-items: flex-start;
  margin-bottom: 0;
}

.email {
  font-size: 13px;
  color: #fefefe;
  align-items: flex-start;
  margin-bottom: 0;
  border-bottom: dashed 2px #24c967;
}

.tooltip {
  padding: 30px 35px!important;
  margin-top: -2px;
  width: 262px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  background-color: #0f1011;
  opacity: 0.8;
  border-radius: 10px;
}

.tooltip-wrap {
  width: 262px;
}