.bar {
  position: fixed;
  height: 47px;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: white;
  width: 100%;
  box-shadow: 0px 2px 20px 0 rgba(155, 172, 184, 0.35);
  color: #fff;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.imgWrapper {
  height: 100%;
}

.titleNav {
  text-decoration: none;
  display: block;
  font-family: Roboto, sans-serif;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 16px;
  letter-spacing: 0em;
  text-align: center;
}

.link {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  margin: 0;
}

.navLink {
  text-decoration: none;
}
