@import "/src/assets/css/index.scss";
.page {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.bodyBlock {
  min-height: 600px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.title {
  text-align: center;
}

.formWrapper {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  min-width: 290px;
}

.passForgot {
  align-self: flex-start;
  margin-top: 13px;
  font-family: $mainFont;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 22px;
  letter-spacing: 0em;
  text-align: center;
  color: $textColorGrey100;
  margin-bottom: 37px;
}

.loginError {
  height: 20px;
  color: red;
}
