.louder {
  padding:10px;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.nextPageButton {
  width: 100%;
  color: rebeccapurple;
  border: 0;
  background-color: snow;
  padding-bottom: 15%;
  cursor: pointer;
}

.PreviousPageButton {
  width: 100%;
  color: rebeccapurple;
  border: 0;
  background-color: snow;
  padding-bottom: 3%;
  cursor: pointer;
}
