// Белый
$colorWhite: #fff;
$colorBlack: 000;

// primary colors
$colorPrimary100: #1890ff;

// grey colors
$colorGrey100: #8c8c8c;
$colorGrey200: #bfbfbf;
$colorGrey300: #d9d9d9;
$colorGrey400: #fafafa;

// font
$textColorMain: #000000;
// $textMein: rgba(0, 0, 0, 0.65);
$textGrey: rgba(0, 0, 0, 0.65);

$mainFont: "Montserrat", sans-serif;
