.imgAvatar {
  border-radius: 50%;
  width: 36px;
}

.imgAvatarSmall {
  width: 24px;
}
.imgAvatarWrapper {
  //   clip-path: circle(36px at center);
  width: 50px;
  border-radius: 50%;
  margin-right: 12px;
}
