.research {
  display: inline-block;
  width: 300px;
  height: 50px;
  border: solid 2px #c0cad2;
  border-radius: 25px;
}

.researchTick {
  display: inline-block;
  width: 12px;
  height: 5px;
  margin: 1px;
  border-radius: 2px;
}

.progress {
  display: inline-block;
  background: conic-gradient(from 0.5turn, #5668e0, #24c967);
  width: 70px;
  height: 70px;
  border-radius: 30px;
}

.geoSplitItem {
  width: 1400px;
  height: 90px;
  margin: 20px;
  border-radius: 45px;
  background-color: #fff;
  box-shadow: 0px 2px 20px 0 rgba(155, 172, 184, 0.35);
  list-style: none;
  padding-top: 20px;
}