@import "/src/assets/css/index.scss";

.post {
  margin-top: 24px;
  padding-bottom: 16px;
  border-bottom: 1px solid #f0f0f0;
  word-wrap: break-word;
}
.post:first-child {
  margin-top: 16px;
  padding-bottom: 16px;
  border-bottom: 1px solid #f0f0f0;
}

.post:last-child {
  border-bottom: none;
  margin-bottom: 40px;
}

.menuIcon {
  height: 15px;
  margin-right: 10px;
}

.wrapperContent {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
}

.repostBlock {
  padding: 8px;
  // min-height: 50px;
  // margin-left: 50px;
  border: 1px solid $colorGrey300;
  background: $colorGrey400;
  // min-width: 288px;
  margin-bottom: 16px;
}

.commentBlock {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

.dotsVerticalLine {
  border-left: 1px dashed $colorGrey200;
  height: 110%;
  margin: -3px 0 -3px -25px;
}
.verticalLine {
  border-left: 1px solid $colorGrey200;
  height: 15px;
  margin: -3px 0 -3px -25px;
}

.verticalLineRemove {
  border-left: none;
}

.avatarBlock {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  // padding-bottom: 102px;
}

.bodyWrapper {
  margin: 8px 8px;
}

.postBody {
  padding-bottom: 30px;
}

.commentsWrapper {
  margin: 16px 0 16px 16px;
}
