@import "/src/assets/css/index.scss";

.name {
  color: $textColorMain;
  font-family: $mainFont;
  font-style: normal;
  font-weight: 600;
  font-size: 13px;
  line-height: 20px;
  cursor: pointer;
}
.nameBlock {
  margin-bottom: 1px;
}

.tickOne {
  margin-right: 5px;
  margin-bottom: -1px;
}

.date {
  font-weight: 500;
  font-size: 13px;
  color: $colorGrey100;
}
