@import "/src/assets/css/index.scss";

.backBlock {
  top: 0;
  background: white;
  position: fixed;
  height: 48px;
  width: 100%;
  border-bottom: 1px solid #f0f0f0;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}

.backBlock img {
  margin-left: 16px;
  width: 19px;
}

.messageBlock {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

.textarea {
  width: 100%;
  border: none;
  margin-right: 10px;
  overflow: "hidden";
  outline: "none";
}

.toolsBlock {
  position: fixed;
  bottom: 0;
  height: 54px;
  border-top: 1px solid #f0f0f0;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background: white;
}

.buttonWrapper {
  margin-right: 12px;
}

.repostBlockWrapper {
  margin-left: 50px;
  margin-right: 12px;
}

.bodyBlock {
  box-sizing: border-box;
  padding: 50px 12px 100px 12px;
  // padding-top: 50px;
  // padding-left: 12px;
  width: 100%;
  margin-bottom: 100px;
}

.backButtonText {
  margin-left: 26px;
  font-family: $mainFont;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;

  color: rgba(0, 0, 0, 0.85);

  /* Inside Auto Layout */
  flex: none;
  order: 0;
  flex-grow: 0;
  margin: 0px 12px;
}

.newPostPage {
  margin-top: 20px;
}

/* module Author linde */

.replyingBlock {
  padding: 5px;
}

.authorInfoBlock {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}

.authorRow {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 60px;
  border-bottom: 1px solid $colorGrey500;
}

.checkboxWrapper {
  margin-bottom: -15px;
  margin-right: 8px;
}

.otherCheckBox {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 40px 0 12px 0;
  border-bottom: 1px solid $colorGrey500;
}

.checkbox_wrapper {
  margin-right: 8px;
}

.uploadBlock {
  margin-left: 64px;
}

.imgPreview {
  margin-top: 16px;
  margin-left: 62px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.smallPreview {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

.imgPreviewBig {
  max-width: 288px;
  border-radius: 4px 4px 0px 0px;
}

.imgPreviewSmall {
  width: 100%;
  height: 100%;
  margin-right: 2px;
}

.imgSmallWrapper {
  width: 95px;
  height: 95px;
  margin-right: 2px;
  position: relative;
  overflow: hidden;
}

.imgSmallWrapper:first-child {
  border-radius: 0 0 0 4px;
}

// .imgPreviewSmall:first-child {
//   border-radius: 0 0 0 4px;
// }

.imgSmallWrapper:nth-child(3n) {
  border-radius: 0 0 4px 0;
  margin-right: none;
  background-color: wheat;
}

.impPreviewShowMore {
  background-color: black;
  width: 95px;
  height: 95px;
  color: $colorGrey400;
  border-radius: 0 0 4px 0;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

  font-family: $mainFont;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 24px;
  letter-spacing: 0em;
  text-align: center;
}

.impPreviewShowMore > span {
  margin: auto;
}

.sliderMain {
  width: 100%;
  // height: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: $colorGrey600;
}

.cancelIcon {
  position: absolute;
  width: 26px;
  top: 16px;
  left: 16px;
  z-index: 100;
}

.sliderItem {
  height: 100%;
  display: block;
}

.imgPreviewWrapper {
  position: relative;
}

.delIcon {
  position: absolute;
  width: 26px;
  top: 5px;
  left: 5px;
  z-index: 1000;
}

.delIconSlider {
  position: absolute;
  width: 26px;
  top: 16px;
  right: 16px;
  z-index: 1000;
}
