@import "/src/assets/css/index.scss";

.backBlock {
  top: 0;
  background: white;
  position: fixed;
  height: 48px;
  width: 100%;
  border-bottom: 1px solid #f0f0f0;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}

.backBlock img {
  margin-left: 16px;
  width: 19px;
}

.messageBlock {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

.textarea {
  width: 100%;
  border: none;
  // min-height: 30px;
}

.toolsBlock {
  position: fixed;
  bottom: 0;
  height: 54px;
  border-top: 1px solid #f0f0f0;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background: white;
}

.buttonWrapper {
  margin-right: 12px;
}

.repostBlockWrapper {
  margin-left: 50px;
  margin-right: 12px;
}

 

.bodyBlock {
  box-sizing: border-box;
  padding-top: 70px;
  padding-left: 12px;
  width: 100%;
  margin-bottom: 100px;
}
